<!-- HEADER -->
<header>
    <nav class="navbar navbar-expand h-100">
        <div class="container-fluid h-100 px-4">
            <!-- Logo -->
            <a class="h-100" href="@Url.Action("Index", "Home")">
                <img class="h-100 px-3" src="~/img/camera.png" alt="Logo Pizzeria">
            </a>
            <!-- Menu navbar -->
            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Photo")">FOTO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Category")">CATEGORIE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">CONTATTACI</a>
                    </li>
                </ul>
            </div>
            <!-- Login -->
            <partial name="_LoginPartial" />
        </div>
    </nav>
</header>
